.address {
  margin-left: 4rem;
}
.address1 {
  margin-left: 8rem;
}
.name {
  margin-left: 5rem;
}
.email {
  margin-left: 1rem;
}
.subtotal {
  margin-right: 11rem;
}
.tax {
  margin-right: 10.7rem;
}
.shipping {
  margin-right: 11.7rem;
}
.prime {
  margin-right: 5.7rem;
}
.franchise {
  margin-right: 6.7rem;
}
.voucher {
  margin-right: 6.7rem;
}
.price {
  margin-left: 14.2rem;
}
